$color-background-button-primary-default-light: #007bff;
$color-background-button-primary-default-dark: #007bff;
$color-background-button-primary-hover-light: #0056b3;
$color-background-button-primary-hover-dark: #0056b3;
$color-background-button-primary-active-light: #0061b5;
$color-background-button-primary-active-dark: #0061b5;
$color-background-button-primary-disabled-light: #cccccc;
$color-background-button-primary-disabled-dark: #3a3a3c;
$color-background-button-secondary-default-light: #ffffff;
$color-background-button-secondary-default-dark: #ffffff;
$color-background-button-secondary-hover-light: #f5f5f5;
$color-background-button-secondary-hover-dark: #f5f5f5;
$color-background-button-secondary-active-light: #eaeaea;
$color-background-button-secondary-active-dark: #eaeaea;
$color-border-button-primary-default-light: #007bff;
$color-border-button-primary-default-dark: #007bff;
$color-border-button-primary-hover-light: #007bff;
$color-border-button-primary-hover-dark: #007bff;
$color-border-button-primary-active-light: #007bff;
$color-border-button-primary-active-dark: #007bff;
$color-border-button-secondary-default-light: #007bff;
$color-border-button-secondary-default-dark: #007bff;
$color-border-button-secondary-hover-light: #007bff;
$color-border-button-secondary-hover-dark: #007bff;
$color-border-button-secondary-active-light: #007bff;
$color-border-button-secondary-active-dark: #007bff;
$color-font-button-primary-default-light: #ffffff;
$color-font-button-primary-default-dark: #ffffff;
$color-font-button-primary-hover-light: #e4e4e4;
$color-font-button-primary-hover-dark: #e4e4e4;
$color-font-button-primary-disabled-light: #ffffff;
$color-font-button-primary-disabled-dark: #757575;
$color-font-button-primary-active-light: #e4e4e4;
$color-font-button-primary-active-dark: #e4e4e4;
$color-font-button-secondary-default-light: #007bff;
$color-font-button-secondary-default-dark: #007bff;
$color-font-button-secondary-hover-light: #d7f2ff;
$color-font-button-secondary-hover-dark: #d7f2ff;
$color-font-button-secondary-active-light: #0061b5;
$color-font-button-secondary-active-dark: #0061b5;
$size-border-button: 0;
$size-border-radius-button: 4px;
$size-padding-button: 10px;
$size-padding-button-mobile: 15px;
$size-font-button: 14px;
$size-font-button-mobile: 18px;
$size-width-button: auto;
$size-width-button-mobile: 100%;
$size-max-width-button: 200px;
$size-max-width-button-mobile: 100%;
$time-transition-button: 200ms;
$font-weight-button: 700;
