$color-background-document-list-item-default-light: #f7f7f7;
$color-background-document-list-item-default-dark: #333333;
$color-background-document-list-item-hover-light: #f2f2f3;
$color-background-document-list-item-hover-dark: #2a2d2f;
$color-background-document-list-item-selected-light: #e8e8e9;
$color-background-document-list-item-selected-dark: #04395f;
$color-font-document-list-item-default-light: #181819;
$color-font-document-list-item-default-dark: #f7f7f7;
$color-font-document-list-item-selected-light: #f7f7f7;
$color-font-document-list-item-selected-dark: #f7f7f7;
