$color-background-document-list-item-default-light: #f7f7f7;
$color-background-document-list-item-default-dark: #333333;
$color-background-document-list-item-hover-light: #e2e2e2;
$color-background-document-list-item-hover-dark: #444444;
$color-background-document-list-item-selected-light: #007bff;
$color-background-document-list-item-selected-dark: #1e90ff;
$color-font-document-list-item-default-light: #1c1c1e;
$color-font-document-list-item-default-dark: #f7f7f7;
$color-font-document-list-item-selected-light: #f7f7f7;
$color-font-document-list-item-selected-dark: #f7f7f7;
