$color-background-graph-container-light: #ffffff;
$color-background-graph-container-dark: #1f1f20;
$color-border-graph-container-light: #dddddd;
$color-border-graph-container-dark: #2d2e2f;
$box-shadow-graph-container-light: 0 4px 8px rgba(0, 0, 0, 0.1);
$box-shadow-graph-container-dark: 0 4px 8px rgba(255, 255, 255, 0.1);
