/*=============================================
=                 Menu Items                  =
=============================================*/
$menuitem-color: #1d1f22;
$menuitem-bg: #ffffff;
$menuitem-bg-hover: #f1f2f3;
$menuitem-color-hover: #1d1f22;
$menuitem-border-color: #f1f2f3;
$menuitem-color-disabled: #a3a5ad;

/*=============================================
=                 Menu Bar Trigger            =
=============================================*/
$menubartrigger-color: #1d1f22;
$menubartrigger-bg: #ffffff;
$menubartrigger-bg-hover: #f1f2f3;
$menubartrigger-color-hover: #1d1f22;

/*=============================================
=                 Menu Bar                    =
=============================================*/
$menubar-color: #1d1f22;
$menubar-bg: #ffffff;
$menubar-border-color: #f1f2f3;

/*=============================================
=                 Menu                        =
=============================================*/

$color-background-menu-light: #ffffff;
$color-background-menu-dark: #1b1d1e;
$size-padding-menu: 6px 0;
$size-border-menu: 1px;
$size-border-radius-menu: 4px;
$time-transition-menu: 200ms;
$z-index-menu: 1000;
