$color-background-modal-light: #ffffff;
$color-background-modal-dark: #2c2c2e;
$color-font-modal-title-light: #1d1f22;
$color-font-modal-title-dark: #e4e4e4;
$color-background-modal-close-hover-light: #f1f2f3;
$color-background-modal-close-hover-dark: #3a3a3a;
