$color-background-modal-light: #f8f8f9;
$color-background-modal-dark: #2c2c2e;
$color-font-modal-title-light: #222223;
$color-font-modal-title-dark: #c8c8c8;
$color-background-modal-close-hover-light: #e4e4e5;
$color-background-modal-close-hover-dark: #3a3a3a;
$color-font-modal-close-light: #616162;
$color-font-modal-close-dark: #868687;
$color-font-modal-close-hover-light: #1f1f20;
$color-font-modal-close-hover-dark: #ffffff;
