$color-background-parameters-section-light: #f5f5f5;
$color-background-parameters-section-dark: #2c2c2e;
$color-border-parameters-section-light: #cccccc;
$color-border-parameters-section-dark: #3a3a3c;
$color-border-parameters-section-header-light: #cccccc;
$color-border-parameters-section-header-dark: #3a3a3c;
