$color-background-parameters-section-light: #f8f8f9;
$color-background-parameters-section-dark: #181819;
$color-border-parameters-section-light: #e8e8e9;
$color-border-parameters-section-dark: #2b2b2c;
$color-border-parameters-section-header-light: #e8e8e9;
$color-border-parameters-section-header-dark: #2b2b2c;
$color-font-parameter-section-header-light: #3b3b3c;
$color-font-parameter-section-header-dark: #cccccd;
