$color-background-slider-default-light: #0060b9;
$color-background-slider-default-dark: #0078d5;
$color-background-slider-hover-light: #0060b9;
$color-background-slider-hover-dark: #0078d5;
$color-background-slider-thumb-default-light: #0060b9;
$color-background-slider-thumb-default-dark: #0078d5;
$color-background-slider-thumb-hover-light: #0060b9;
$color-background-slider-thumb-hover-dark: #0078d5;
$box-shadow-slider-thumb-hover-light: rgba(155, 219, 252, 0.2) 0px 0px 0px 8px;
$box-shadow-slider-thumb-hover-dark: rgba(155, 219, 252, 0.2) 0px 0px 0px 8px;
