$color-background-status-bar-light: #ffffff; // check
$color-background-status-bar-dark: #181819;
$color-font-status-bar-light: #444445;
$color-font-status-bar-dark: #b1b1b2;
$color-border-top-status-bar-light: #e8e8e9;
$color-border-top-status-bar-dark: #2b2b2c;
