$color-background-switch-default-light: #cccccc;
$color-background-switch-default-dark: #2d2e2f;
$color-background-switch-checked-light: #007bff;
$color-background-switch-checked-dark: #007bff;
$color-background-switch-thumb-default-light: #f8f8f9;
$color-background-switch-thumb-default-dark: #181819;
$color-font-switch-light: #333333;
$color-font-switch-dark: #f8f8f9;
