$color-background-switch-default-light: #cccccc;
$color-background-switch-default-dark: #cccccc;
$color-background-switch-checked-light: #007bff;
$color-background-switch-checked-dark: #007bff;
$color-background-switch-thumb-default-light: #ffffff;
$color-background-switch-thumb-default-dark: #ffffff;
$color-font-switch-light: #333333;
$color-font-switch-dark: #ffffff;
