$color-background-text-field-light: #ffffff;
$color-background-text-field-dark: #2c2c2e;
$color-border-text-field-default-light: #cccccc;
$color-border-text-field-default-dark: #3a3a3c;
$color-border-text-field-focus-light: #66afe9;
$color-border-text-field-focus-dark: #007bff;
$color-font-text-field-light: #333333;
$color-font-text-field-dark: #e4e4e4;
$box-shadow-text-field-focus-light: 0 0 5px rgba(102, 175, 233, 0.5);
$box-shadow-text-field-focus-dark: 0 0 5px rgba(0, 123, 255, 0.5);
