$color-background-toast-success-light: #f8f8f9;
$color-background-toast-success-dark: #2c2c2e;

$color-background-toast-progress-bar-success-light: #4caf51;
$color-background-toast-progress-bar-success-dark: #4caf51;

$color-background-toast-warning-light: #f8f8f9;
$color-background-toast-warning-dark: #2c2c2e;

$color-background-toast-progress-bar-warning-light: #bf8704;
$color-background-toast-progress-bar-warning-dark: #cca701;

$color-font-toast-light: #222223;
$color-font-toast-dark: #c8c8c8;

$toastify-color-warning-light: #bf8704;
$toastify-color-warning-dark: #cca701;
