$color-background-vertice-default-light: #456efb;
$color-background-vertice-default-dark: #456efb;
$color-background-vertice-visited-light: #32cd32;
$color-background-vertice-visited-dark: #32cd32;
$color-border-vertice-default-light: #4a4a4a;
$color-border-vertice-default-dark: #4a4a4a;
$color-font-vertice-light: #ffffff;
$color-font-vertice-dark: #ffffff;
$box-shadow-vertice-default-light: 0 4px 8px rgba(0, 0, 0, 0.1);
$box-shadow-vertice-default-dark: 0 4px 8px rgba(255, 255, 255, 0.1);
$box-shadow-vertice-hover-light: 0 6px 12px rgba(0, 0, 0, 0.2);
$box-shadow-vertice-hover-dark: 0 6px 12px rgba(255, 255, 255, 0.2);

$color-background-vertice-hint-connect-default-light: #f39c12;
$color-background-vertice-hint-connect-default-dark: #f39c12;
$color-background-vertice-hint-connect-hover-light: #e67e22;
$color-background-vertice-hint-connect-hover-dark: #e67622;
$color-border-vertice-hint-connect-default-light: #ecf0f1;
$color-border-vertice-hint-connect-default-dark: #ecf0f1;