.button {
  width: 100%;
  padding: var(--size-padding-button);
  box-sizing: border-box;
  border: var(--size-border-button);
  border-radius: var(--size-border-radius-button);
  font-size: var(--size-font-button);
  font-weight: var(--font-weight-button);
  color: var(--color-font-button-primary-default);
  background-color: var(--color-background-button-primary-default);
  cursor: pointer;
  transition: background-color var(--time-transition-button),
    box-shadow var(--time-transition-button);

  &--error {
    color: var(--color-font-button-error-default);
    background-color: var(--color-background-button-error-default);
  }
}

.button:hover {
  background-color: var(--color-background-button-primary-hover);
}

.button--error:hover {
  color: var(--color-font-button-error-hover);
  background-color: var(--color-background-button-error-hover);
}

.button:focus {
  outline-width: 2px;
  outline-offset: 2px;
  outline-style: solid;
  outline-color: var(--color-background-button-primary-hover);
  background-color: var(--color-background-button-primary-hover);
}

.button:disabled {
  background-color: var(--color-background-button-primary-disabled);
  color: var(--color-font-button-primary-disabled);
  cursor: default;
}
