.button {
  width: 100%;
  padding: var(--size-padding-button);
  box-sizing: border-box;
  border: var(--size-border-button);
  border-radius: var(--size-border-radius-button);
  font-size: var(--size-font-button);
  font-weight: var(--font-weight-button);
  color: var(--color-font-button-primary-default);
  background-color: var(--color-background-button-primary-default);
  cursor: pointer;
  transition: background-color var(--time-transition-button),
    box-shadow var(--time-transition-button);
}

.button:hover {
  background-color: var(--color-background-button-primary-hover);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button:disabled {
  background-color: var(--color-background-button-primary-disabled);
  cursor: not-allowed;
}
