.graph_container {
  width: 95%;
  height: 90%;
  background-color: var(--color-background-graph-container);
  position: relative;
  margin: 20px auto;
  border: 1px solid var(--color-border-graph-container);
  border-radius: 8px;
  box-shadow: var(--box-shadow-graph-container);
  overflow: hidden;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
