@use "../tokens/colors" as colors;
@use "../tokens/components/header" as header;
@use "../tokens/components/button" as button;
@use "../tokens/size";
@use "../tokens/typography" as font;

:root {
  --body-text-color: #{colors.$dark};
  --body-bg-color: #{colors.$white};
  --body-font-family: #{font.$body-font-family};

  --btn-primary-color: #{colors.$white};
  --btn-primary-bg: #{colors.$green};
  --btn-primary-bg-hover: #{colors.$green-light};

  --btn-secondary-color: #{colors.$white};
  --btn-secondary-bg: #{colors.$dark};

  --menuitem-color: #{colors.$dark};
  --menuitem-bg: #{colors.$white};
  --menuitem-bg-hover: #{colors.$white-dark};
  --menuitem-color-hover: #{colors.$dark};
  --menuitem-border-color: #{colors.$white-dark};
  --menuitem-color-disabled: #{colors.$gray};

  --menubartrigger-color: #{colors.$dark};
  --menubartrigger-bg: #{colors.$white};
  --menubartrigger-bg-hover: #{colors.$white-dark};
  --menubartrigger-color-hover: #{colors.$dark};

  --menubar-color: #{colors.$dark};
  --menubar-bg: #{colors.$white};
  --menubar-border-color: #{colors.$white-dark};

  --menu-color: #{colors.$dark};
  --menu-bg: #{colors.$white};
  --menu-border-color: #{colors.$white-dark};
  --menu-bg-hover: #{colors.$white-dark};
  --menu-color-hover: #{colors.$dark};

  --size-height-header: 36px;
}
