.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
  background-color: var(--color-background-main-section);
  padding: 10px;
  box-sizing: border-box;
}
