.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controls__buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.controls__button_show_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
