/* Font families */

$playfair: "Roboto", sans-serif; /* 1 */
$raleway: "Raleway", "HelveticaNeue", "Helvetica", sans-serif; /* 2 */

/* Font weights */

$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

$body-font-family: "Roboto", sans-serif;
