.panel {
  width: 300px;
  background-color: var(--color-background-parameters-section);
  padding: 10px;
  box-sizing: border-box;
  height: calc(100vh - var(--size-height-header));
  border-right: 1px solid var(--color-border-parameters-section);
  color: var(--color-font-label);
  flex-shrink: 0;
}

.panel__header {
  h2 {
    height: 34px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-font-label);
    margin-bottom: 20px;
    border-bottom: 2px solid var(--color-border-parameters-section-header);
    padding-bottom: 10px;
  }
}
