.panel {
  width: 300px;
  background-color: var(--color-background-parameters-section);
  box-sizing: border-box;
  height: calc(100vh - var(--size-height-header));
  border-right: 1px solid var(--color-border-parameters-section);
  color: var(--color-font-label);
  flex-shrink: 0;
}

.panel__header {
  padding: 10px;
  border-bottom: 1px solid var(--color-border-parameters-section-header);

  h2 {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-font-parameter-section-header);
  }
}

.panel__sections {
  display: flex;
  flex-direction: column;
}
