.document_list {
  height: 400px;
}

.document_list__row[aria-selected="true"] {
  color: var(--color-font-document-list-item-selected);
}

.document_list__cell {
  &:focus {
    border: none !important;
  }
}

.document_list__cell_delete {
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus-within {
    border: none !important;
  }
}

.document_list__header_actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
