@import "../foundation/all";

.menuitem {
  padding: 6px 15px 6px 38px;
  cursor: pointer;
  color: $menuitem-color;
  background-color: $menuitem-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuitem:hover,
.menuitem--highlighted {
  background-color: $menuitem-bg-hover;
  color: $menuitem-color-hover;
}

// .menuitem:focus {
//   // background-color: $menuitem-bg-hover;
//   // color: $menuitem-color-hover;
//   // outline: none;
//   // border: none;
// }
