@import "../foundation/all";

.MenubarTrigger {
  padding: 8px 12px;
  outline: none;
  -webkit-user-select: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  color: $menubartrigger-color;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.MenubarTrigger[data-highlighted],
.MenubarTrigger[data-state="open"],
.MenubarTrigger:hover {
  background-color: $menubartrigger-bg-hover;
  color: $menubartrigger-color-hover;
}
