@import "../foundation/all";

.MenubarItem {
  all: unset;
  font-size: 13px;
  line-height: 1;
  color: $menuitem-color;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 10px;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}

.MenubarItem.inset {
  padding-left: 20px;
}

.MenubarItem[data-state="open"] {
  background-color: $menuitem-bg;
  color: $menuitem-color;
}

.MenubarItem[data-highlighted] {
  background-color: $menuitem-bg-hover;
  color: $menuitem-color-hover;
}

.MenubarItem[data-disabled] {
  color: $menuitem-color-disabled;
  pointer-events: none;
}

.MenubarItem > .Icon {
  margin-right: 5px;
}
