.menu-trigger {
  padding: 6px 10px 6px 12px;
  cursor: pointer;
  color: var(--menuitem-color);
  background-color: var(--menuitem-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
}

.menu-trigger:hover,
.menu-trigger--higlighted {
  background-color: var(--menuitem-bg-hover);
  color: var(--menuitem-color-hover);
}

.menu-trigger:focus {
  outline: none;
  border: none;
}

.menu-trigger--disabled {
  cursor: not-allowed;
  color: var(--menuitem-color-disabled);
}

.menu-trigger--disabled:hover {
  background-color: var(--menuitem-bg);
  color: var(--menuitem-color-disabled);
}
