.menu {
  transition: opacity var(--time-transition-menu);
  background: var(--color-background-menu);
  cursor: default;
  outline: none;
  padding: var(--size-padding-menu);
  position: absolute;
  border: var(--size-border-menu) solid transparent;
  border-radius: var(--size-border-radius-menu);
  box-shadow: var(--box-shadow-menu);
  z-index: var(--z-index-menu);
}

.main-menu {
  top: 100%;
  left: 0;
  min-width: 280px;
}

.sub-menu {
  top: 0;
  left: 100%;
  min-width: 280px;
}
