@use "/src/scss/src/foundation/variables" as variables;

.menu {
  transition: opacity 0.218s;
  background: var(--dse-menu-bg, variables.$white);
  cursor: default;
  margin: 0;
  outline: none;
  padding: 6px 0;
  position: absolute;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  z-index: 1000;
}

.main-menu {
  top: 100%;
  left: 0;
  min-width: 280px;
}

.sub-menu {
  top: 0;
  left: 100%;
  min-width: 280px;
}
